html{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    background-color: rgb(160, 160, 160);
    box-shadow: 1px 20px rgb(112, 112, 112);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    padding-top: 60px;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300px;
    
}

.display-screen{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    padding: 20px;
    height: 70px;
    border: 1px solid black;
}

.button-rows{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}

button{
    width: 70px;
    height: 50px;
    transition: 0.1s;
}

button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.equal{
    flex-grow: 2;
}